:root {
    /* ## Colors
    ### Primary */
    --lime: #d7da2f;
    --red: #d73328;
    --light-lime: #ebee97;

    /* ### Neutral */
    --white: #ffffff;
    --slate100: #e3f3fd;
    --slate300: #9abed5;
    --slate500: #6b94a8;
    --slate700: #4e6e7e;
    --slate900: #122f3f;
    --darker-slate: #0e2431;
}

@media screen and (min-width: 600px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--slate100);
        padding: 2em;
    }

    main {
        background-color: white;
        max-width: 500px;
        border-radius: 1em;
        overflow: hidden;
    }
}

@media screen and (min-width: 1200px) {
    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--slate100);
    }

    main {
        display: grid;
        grid-template-columns: 540px 460px;
        align-items: center;
        background-color: white;
        max-width: 1000px;
        border-radius: 1em;
        overflow: hidden;
    }

    .calculator {
        grid-column: 1;
        padding: 2em;
    }

    .calculator h1 {
        margin-top: 0;
    }

    .title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .clear-all {
        cursor: pointer;
        margin: 0;

        transition: .02s;
    }

    .clear-all:hover {
        color: var(--slate900);
    }

    .form {
        margin-top: 2em;
    }

    .mortgage-data {
        transition: 0.02s;
    }

    .mortgage-data:hover {
        border-color: var(--slate900);
    }

    .field {
        margin-bottom: 1em;
    }

    .field.term {
        display: inline-block;
        padding-right: 1.46em;
    }

    .field.rate {
        display: inline-block;
    }
    
    .form-control {
        cursor: pointer;
        transition: 0.02s;
    }

    .form-control:hover {
        border-color: var(--lime);
    }

    .calculate {
        margin: 2em 0 0;
        width: 70%;
        cursor: pointer;

        transition: 0.2s;
    }

    .calculate:hover {
        background-color: var(--light-lime);
    }

    .repayments-area {
        grid-column: 2;
        display: flex;
        align-items: center;
        padding: 2em;
        width: 100%;
        height: 100%;
        border-radius: 0 0 0 5em;
    }

    .repayments-area p {
        font-size: 0.95rem;
        line-height: 1.5em;
        margin-bottom: 2.5em;
    }

    .repayments-area .repayments {
        margin-top: -6em;
    }
    
    .repayments-area .repayments .repayments-data {
        padding: 1.5em;
    }

    .repayments-data h3 {
        font-size: 0.9rem;
    }

    .repayments-data .monthly-repay {
        font-size: 3rem;
        padding-bottom: .5em;
    }

    .repayments-data .p-total-repay {
        margin-top: 2em;
    }

    .repayments-data .total-repay {
        font-size: 1.35rem;
    }
}