@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    /* ## Colors
    ### Primary */
    --lime: #d7da2f;
    --red: #d73328;

    /* ### Neutral */
    --white: #ffffff;
    --slate100: #e3f3fd;
    --slate300: #9abed5;
    --slate500: #6b94a8;
    --slate700: #4e6e7e;
    --slate900: #122f3f;
    --darker-slate: #0e2431;

    /* ## Font */
    --font: "Plus Jakarta Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--font);
    font-weight: 500;
    font-size: 1rem;
    box-sizing: border-box;
}

.calculator {
    padding: 1.3em;
}

h1 {
    color: var(--slate900);
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.35em;
}

.clear-all {
    color: var(--slate700);
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;  
    border: none;
    border-bottom: 0.13em solid var(--slate100);
    margin: 0.3em 0 0.9em;
}

.calculator h2 {
    color: var(--slate700);
    font-weight: 500;
    margin: 0.6em 0;
}

.field {
    position: relative;
    margin-bottom: 1.55em;
}

.mortgage-data {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .75em;
    border: 0.06em solid var(--slate700);
    border-radius: 0.3em;
    margin-bottom: 0.2em;
    overflow: hidden;
}

.mortgage-data label {
    position: absolute;
    color: var(--slate700);
    background-color: var(--slate100);
    font-weight: 700;
    padding: 0.75em;
}

.mortgage-data label.error {
    color: white;
    background-color: var(--red);
    font-weight: 500;
}

.mortgage-data .in-left {
    left: 0;
}

.mortgage-data .in-right {
    right: 0;
}

.mortgage-data > input[type="number"], input[type='text'] {
    display: inline;
    width: 100%;
    padding-left: 0.3em;
    border: none;

    color: var(--slate900);
    font-weight: 700;
}

.mortgage-data > input[type="number"]:focus, input[type='text']:focus {
    outline: none;
}

input[type='number']#amount-txt {
    padding-left: 2.2em;
}

.form-control {
    display: grid;
    grid-template-columns: 1em auto;
    align-items: center;
    gap: 0.9em;

    color: var(--slate900);
    font-weight: 700;

    padding: 0.75em;
    border: 0.06em solid var(--slate700);
    border-radius: 0.3em;
}

.checked {
    border: 0.06em solid var(--lime);
    background-color: #fafae0;
}

input[type='radio'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: var(--slate900);
    width: 1em;
    height: 1em;
    border: 0.10em solid var(--slate700);
    border-radius: 50%;
    display: grid;
    place-content: center;
}

input[type='radio']::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    transform: scale(0);
    transform: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--lime);
}

input[type='radio']:checked {
    border-color: var(--lime);
}

input[type='radio']:checked::before {
    transform: scale(1);
}

.form-control + .form-control {
    margin-top: 0.75em;
}

.field span {
    position: absolute;
    color: var(--red);
    font-size: 0.8rem;
}

.calculate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;


    color: var(--slate900);
    font-weight: 700;
    border: none;
    background-color: var(--lime);
    border-radius: 2.5em;
    width: 100%;
    padding: 0.9em;

    margin: 1.55em 0 0.6em;
}

.repayments-area {
    color: var(--slate500);
    background-color: var(--slate900);
    padding: 1.55em;
}

.repayments-area h2 {
    color: white;
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 0.6em;
}

.repayments-area p {
    margin-bottom: 1.25em;
}

.repayments-area .no-repayments {
    text-align: center;
}

.repayments-area .no-repayments img {
    margin-top: 0.6em;
}

.repayments-area .no-repayments h2 {
    margin-top: 0.6em;
}

.repayments-area .repayments .repayments-data {
    color: var(--slate500);
    background-color: var(--darker-slate);
    padding: 1em;
    border-top: 0.2em solid var(--lime);
    border-radius: 5px;
}

.repayments-data .monthly-repay {
    display: block;
    color: var(--lime);
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0.2em;
    padding-bottom: 0.4em;
    border-bottom: 0.01em solid var(--slate700);
}

.repayments-data .p-total-repay {
    margin-top: 1em;
}

.repayments-data .total-repay {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 0.4em;
}

.hide {
    display: none;
}